@{
    ViewData["Title"] = "About";
}

@section Styles {
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}

<section>
<div class="text-center">
    <h1 class="title">CharpSpark</h1>
    <hr />
    <h5 class="red-text"><i>Sharper Code, Brighter Future</i></h5>
    <br>
    <p>
        ResuMeta is a sophisticated web application conceived and developed as part of a senior project at Western
        Oregon University.

        The CharpSpark team behind this project comprises of Ryan Hanson, Zoe Robb, Andrew Esch, and Danielle Campbell.

        This application utilizes ASP.NET Core MVC, SQL Server, Azure, C#, JavaScript, HTML/CSS, and other technologies. 
    </p>
    <div class="text-center">
        <a href="https://github.com/Coder-Andrew/CharpSpark" class="btn btn-primary" id="github-button">
            CharpSpark Github <i class="fa fa-github"></i>
        </a>
    </div>
</div>