@{
    ViewData["Title"] = "About";
}

@section Styles {
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}

<section>
<div class="text-center">
    <h1 class="title">CharpSpark</h1>
    <hr />
    <h5 class="red-text"><i>Sharper Code, Brighter Future</i></h5>
    <br>
    <p>
        ResuMeta is a sophisticated web application conceived and developed as part of a senior project Software Engineering I, II, and III courses at Western
        Oregon University. This application utilizes ASP.NET Core MVC, SQL Server, Azure, C#, JavaScript, HTML/CSS, and other technologies. 
        The CharpSpark team behind this project comprises of:
        </p>
        <ul class="centered-list">
            <li>Ryan Hanson - <a href="https://github.com/RyanHanson-WRX" target="_blank">GitHub</a></li>
            <li>Zoe Robb - <a href="https://github.com/zoerobb" target="_blank">GitHub</a></li>
            <li>Andrew Esch - <a href="https://github.com/Coder-Andrew" target="_blank">GitHub</a></li>
            <li>Danielle Campbell - <a href="https://github.com/daniellecampbell688" target="_blank">GitHub</a></li>
        </ul>

    <div class="text-center">
        <a href="https://github.com/Coder-Andrew/CharpSpark" class="btn btn-primary" id="github-button">
            CharpSpark Github <i class="fa fa-github"></i>
        </a>
    </div>


<div class="container my-5">
    <br>
<h3 class="title">How to use ResuMeta's features</h3>
    <br>


<div class="bordered-section">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-resume-tab" data-bs-toggle="tab" data-bs-target="#nav-resume" type="button" role="tab" aria-controls="nav-resume" aria-selected="true">Resume</button>
        <button class="nav-link" id="nav-coverletter-tab" data-bs-toggle="tab" data-bs-target="#nav-coverletter" type="button" role="tab" aria-controls="nav-coverletter" aria-selected="false">Cover Letter</button>
        <button class="nav-link" id="nav-apptracker-tab" data-bs-toggle="tab" data-bs-target="#nav-apptracker" type="button" role="tab" aria-controls="nav-apptracker" aria-selected="false">App Tracker</button>
        <button class="nav-link" id="nav-joblistings-tab" data-bs-toggle="tab" data-bs-target="#nav-joblistings" type="button" role="tab" aria-controls="nav-joblistings" aria-selected="false">Job Listings</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-3 text-left" id="nav-resume" role="tabpanel" aria-labelledby="nav-resume-tab">
        <p> 1. Navigate to the Resume page.</p>
        <p> 2. Click create a resume from scratch or upload an existing resume.</p>
        <p> 3. To create a resume from scratch, fill out the education, employment, skills & achievements, projects, and personal summary sections. (Note: you do not need to complete each section to build a resume)</p>
        <p> 4. Upon submission, you will be taken to a preview screen and be given the option to save the resume. Once you have saved your resume, you have the option to improve it with AI, apply a template, or export it. </p>
        <p> 5. Once you have created and saved a resume, it will appear on the Dashboard page. From there, you can select a resume and edit it further. </p>
        </div>
    <div class="tab-pane fade p-3 text-left" id="nav-coverletter" role="tabpanel" aria-labelledby="nav-coverletter-tab">
       <p> 1. Navigate to the Cover Letter page. </p>
       <p> 2. Click the create cover letter button. </p>
       <p> 3. Either enter the hiring managers name, or select “I don’t know the name”. </p>
       <p> 4. Write the body of your cover letter and click submit. </p>
       <p> 5. Next, you will be taken to the view cover letter page. Here, you can adjust the formatting or make any edits as needed. You can also improve the cover letter with AI, save the cover letter, and export it. </p>
        </div>
    <div class="tab-pane fade p-3 text-left" id="nav-apptracker" role="tabpanel" aria-labelledby="nav-apptracker-tab">
        <p>1. Navigate to the Application Tracker page. </p>
        <p>2. Enter in the relevant details for the job applications you would like to keep track of (job title, url, company name, deadline, date you applied, notes, and status). </p>
        <p>3. Upon clicking the submit button, you will see your application details show up in the table below. You can now sort your applications by the date they were created or by the date you applied. </p>
        <p>4. You also have the option to set a reminder for each application. The “Followup Reminder” will send you an email 7 days after the date you applied to remind you to follow up with the recruiter. The “Apply Reminder” will send you an email 2 days before the job application is due to remind you to apply. </p>
        </div>
    <div class="tab-pane fade p-3 text-left" id="nav-joblistings" role="tabpanel" aria-labelledby="nav-joblistings-tab">
        <p>1. Navigate to the Job Listings page.</p>
        <p>2. From here, you can search all jobs or only remote roles. To search all jobs, enter in a job title, the city, and the state (US only). </p>
        <p>3. If you see a job you are interested in, click on it, and it will bring you to the Indeed listing. </p>
        <p>4. Once you have navigated back to the ResuMeta site, you will be greeted with a popup asking if you applied. If you click yes, it will auto fill the details from that job into the Application Tracker. </p>
        <p>5. You will also see the option to create a resume based on the job description. This uses AI to write a resume for you. </p>
        <p>6. Lastly, there is another option to create a cover letter with AI based on the job description. Upon clicking the “Create Cover Letter” button, you will see the option to choose one of your pre-existing resumes to base the cover letter on. </p>
        </div>
</div>
</div>
</div>

</div>