@model IEnumerable<KeyValuePair<int, string>>;
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/HomeIndex.css" asp-append-version="true" />
}

<section>
<div class="text-center">
    <div class="align-items-center">
        <h1 class="title"><img src="~/Images/resuMetaLogo.png" alt="ResuMetaLogo" width="200" height="200" /> Welcome to ResuMeta!</h1>
    </div>
</div>
    <hr />
   
    <p class="body-paragraph">Here at CharpSpark, using modern and versatile artificially intelligent systems, we aim to please with our free
        and state of the art resume enhancement suite. 
        ResuMeta is a free software application designed to help users create strong resumes by allowing them to submit their current resume for feedback, build new resumes based on AI and industry standards, and edit them as needed. 
        It aims to simplify the resume creation process by guiding users through questions and addressing the challenge of getting resumes noticed by employers, emphasizing human review over automated filtering techniques. 
    </p>
    <p class="body-paragraph">
        To get started, create an account or log in. Next, click on "Create Resume" and answer the questions to see your resume come to life!
    </p>
    @if (User.Identity!.IsAuthenticated)
    {
        @if(Model != null && Model.Count() > 0)
        {
            <div>
            <h2>Your Saved Resumes</h2>
            @foreach(var resume in Model)
            {
                <a class="btn btn-primary" id="@resume.Key" onclick="location.href='@Url.Action("YourResume", "Resume", new {resumeId = @resume.Key})'" >@resume.Value</a>
            }
            </div>
        }
    }
</div>