@{
    ViewData["Title"] = "Trending";
}
@section Styles {
    <link rel="stylesheet" href="~/css/TrendingProfiles.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4 title">View Trending Profiles!</h1>
    <hr />
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/TrendingProfiles.js"></script>
}