[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
pymongo = "*"
selenium = "*"
schedule = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
