@{
    ViewData["Title"] = "Resume - Info";
}

<div class="text-center">
    <h1 class="display-4">Create New Resume</h1>
    <div class="container">
        <div class="row mt-3 d-flex form-group" id="education-form">
            <h4>Education</h4>
            <hr \>
            <div class="col col-md-6">
                <label for="institutionName" class="col-form-label">Institution Name:</label>
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" id="institutionName" maxlength="100" style="width: 80%;"/>
                </div>
                <label for="educationSummary" class="col-form-label">Education Summary:</label>
                <div class="d-flex justify-content-center">
                    <textarea class="form-control" id="educationSummary" rows="5" maxlength="250" style="width: 80%;"></textarea>
                </div>
                <label for="startDate" class="col-form-label">Start Date:</label>
                <div class="d-flex justify-content-center">
                    <input type="date" class="form-control" id="startDate" style="width: 80%;"/>
                </div>
                <label for="endDate" class="col-form-label">End Date: (Or Expected)</label>
                <div class="d-flex justify-content-center">
                    <input type="date" class="form-control" id="endDate" style="width: 80%;"/>
                </div>
                <label for="completed" class="col-form-label">Education Completed:</label>
                <div class="d-flex justify-content-center">
                    <select class="form-control" id="completed" style="width: 80%;">
                        <option selected disabled>Select a value</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-6">
                <label for="degreeType" class="col-form-label">Degree Type:</label>
                <div class="d-flex justify-content-center">
                    <select class="form-control" id="degreeType" style="width: 80%;">
                        <option selected disabled>Select a type</option>
                        <option value="associate">Associate Degree</option>
                        <option value="bachelor">Bachelor's Degree</option>
                        <option value="master">Master's Degree</option>
                        <option value="doctoral">Doctoral Degree</option>
                    </select>
                </div>
                <label for="major" class="col-form-label">Major:</label>
                <div class="d-flex justify-content-center">
                    <input type="text" id="major" maxlength="50" style="width: 80%;" />
                </div>
                <label for="minor" class="col-form-label">Minor:</label>
                <div class="d-flex justify-content-center">
                    <input type="text" id="minor" maxlength="50" style="width: 80%;" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/CreateResume.js"></script>
}