@{
    ViewData["Title"] = "Resume - Home";
}

<div class="text-center">
    <h1 class="display-4 title">Resume Center</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Create Resume from Scratch</h4>
                <a asp-controller="Resume" asp-action="CreateResume" class="btn btn-primary">Create Resume</a>      
            </div>
            <div class="col-md-6">
                <h4>Upload a Resume</h4>
                <p>Coming soon...</p>
            </div>
        </div>
    </div>
</div>