@model ResuMeta.ViewModels.ResumeVM;
@{
    ViewData["Title"] = "Resume - View";
}

<div class="text-center">
    <div class="alert alert-success" role="alert">
        <h4>Success, Information Stored!</h4>
    </div>
    <h1 class="display-4">Your Resume</h1>
    <div class="container">
        <div>
            @if (Model != null)
            {
                <p>@Model.ResumeId</p>
            }
        </div>
    </div>
</div>
