@model ResuMeta.ViewModels.DashboardVM
@{    ViewData["Title"] = "Your Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/YourDashboard.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4 title">Your Dashboard</h1>
    <hr />
        @if (User.Identity!.IsAuthenticated)
        {
            @if(Model != null && Model.Resumes?.Count() > 0)
            {
                <h4>Your Resumes</h4>
                <section id="resume-section">
                @foreach(var resume in Model.Resumes)
                {
                    <div class="thumbnail" onclick="location.href='@Url.Action("YourResume", "Resume", new {resumeId = @resume.ResumeId})'">
                        <div id="content-@resume.ResumeId"></div>
                        <div class="thumbnail-title">@resume.Title</div>
                    </div>
                    <script type="text/javascript">
                        var contentDiv = document.getElementById('content-@resume.ResumeId');
                        contentDiv.innerHTML = decodeURIComponent("@Html.Raw(resume.HtmlContent)");
                    </script>
                }
                </section>
            }
            else
            {
                <div class="no-resume">
                    <p>You have not created any resumes yet.</p>
                    <a asp-controller="Resume" asp-action="CreateResume" class="btn btn-primary">Create Resume</a>
                </div>
            }
        }
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/YourDashboard.js"></script>
}