@model ResuMeta.ViewModels.UserVM;
@{
    ViewData["Title"] = "Cover Letter - Info";
}
@section Styles {
    <link rel="stylesheet" href="~/css/CreateCoverLetter.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4 title">Create New Cover Letter</h1>
    <div class="container">
        <div id="validation">
            <div class="alert alert-danger" role="alert" id="validationMessage" style="display: none;">
                <strong>Validation Error</strong>
                <p id="validationText"></p>
            </div>
        </div>
        <input type="hidden" id="userId" value="@Model.UserId" />
        <div class="row mt-3 d-flex form-group" id="cover-letter-box">
            <h4>Who is this letter addressed to?</h4>
            <hr />
            <div class="cover-letter-address-form">
                <p>Please enter the hiring manager's last name.</p>
                <div class="cover-letter-address-inputs row">
                    <div class="col-md-5">
                        <select class="cover-letter-drop-down form-control">
                            <option value="">Select a title...</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Mx.">Mx.</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input type="text" maxlength="100" class="form-control" id="last-name" placeholder="Enter a last name..."/>
                    </div>
                </div>
                <button class="btn btn-primary cover-letter-button">I don't know the name</button>
            </div>
            <div class="cover-letter-address-form-name-unknown"style="display: none;">
                <p>Don't worry! We can still help you write a great cover letter.</p>
                <button class="btn btn-primary name-unknown-button">I found the name</button>
            </div>
            <h4>Cover Letter Body</h4>
            <hr />
            <p>Write a few short paragraphs about why you're interested in working here and why you're a great fit!</p>
            <div class="row justify-content-center mx-auto" style="width: 80%;">
                <textarea cols="60" rows="3" id="cover-letter-body" placeholder="I would like to apply here because... I'm perfect for this position because..." id="cover-letter-body" style="resize: none;" maxlength="400"></textarea>
            </div>
        </div>
        <button id="submitInfo" class="btn btn-primary mt-5">Submit</button>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/CreateCoverLetter.js"></script>
}
