#github-button {
    background-color: #29ADEB;
    color: white;
    border: 0px;
}

#github-button:hover {
    background-color: #0860c4;
    color: white !important;
}

#github-button:focus, #github-button:active {
    border-color: #2a1ce9 !important;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #190db6 !important;
}

.title {
    font-size: 2em;
}

.nav.nav-tabs .nav-link {
    margin-right: 10px !important; 
    padding: 5px 10px !important; 
    background-color: #e9912c;
    color: white !important;
    border-bottom: none !important;
}

.nav.nav-tabs .nav-link.active {
    color: black !important;
    background-color: #ffffff !important; 
    border: 1px solid #e9912c; /* Change the color as needed */    
    border-radius: 5px
}

.tab-pane.active {
    border: 1px solid #e9912c; /* Change the color as needed */
    border-radius: 10px
}
.centered-list {
    text-align: left;
    display: inline-block;
    /* list-style-position: inside; */
}

.text-left {
    text-align: left;
}

.bordered-section {
    /* border: 1px solid white; */
}

#nav-tabContent {
    /* background-color: grey; */
}

.nav-tabs {
    border-bottom: none !important;
}