#github-button {
    background-color: #29ADEB;
    color: white;
    border: 0px;
}

#github-button:hover {
    background-color: #0860c4;
    color: white !important;
}

#github-button:focus, #github-button:active {
    border-color: #2a1ce9 !important;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #190db6 !important;
}

.title {
    font-size: 4em;
}