#app-table {
    color: #e9912c; 
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    /* table-layout: fixed;  */
}
#app-table td:nth-child(8), #app-table th:nth-child(8) {
    min-width: 30px;
    max-width: 40px;
}
#app-table td:nth-child(9), #app-table th:nth-child(9) {
    min-width: 200px;
    max-width: 250px;
}
#app-table tr {
    border-bottom: 1px solid #ddd; 
}
#app-table th, #app-table td {
  
    width: 100px; 
    font-size: small;
    padding: 10px; 
    text-align: left;
}
#app-table button {
    display: inline-block;
    margin: 0;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

#app-table select {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 5px;
    border: 1px solid #ddd;
}

#add-application-button {
    margin-top: 3%;
}

.wrap-text {
    word-wrap: break-word;
    max-width: 200px; 
}

.table-responsive {
    display: flex;
    justify-content: center;
}

.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-section h4 {
    color: #e9912c;
    margin-bottom: 0px;
}

.filter-section hr {
    width: 100%;
}
.filter-section label {
    margin: 3px 0;
    color: #e9912c;
}

.filter-section select {
    margin-bottom: 20px;
    width: 100%;
    padding: 3px;
}

button {
    background-color: #E91D1C;
    color: white;
    border: none;
    box-shadow: none;
}

.maximized-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 3%;
    top: 10%;
    width: 100%;
    height: 100%;
}

.maximized-modal-content {
    position: relative;
    margin: auto;
    padding: 15px;
    width: 100%;
    max-width: 1200px;
    max-height: 80vh;
    background-color: #242525;
    border:1px solid rgb(101, 104, 104);
    transform: scale(1.1);
    overflow: auto;
}

.maximized-modal tr:nth-child(odd) td {
    background-color: #1a1b1b;
}

.maximized-modal tr:nth-child(even) {
    background-color: #323333;
}

.close {
    position: absolute;
    right: 10px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#maximize-table {
    font-family: 'FontAwesome';
    text-decoration: none !important;
}

#maximize-table:hover {
    cursor: pointer;
}

#close-maximized-modal {
    cursor: pointer;
    color: #e9912c;
}