#app-table {
    color: #e9912c; 
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    table-layout: fixed; 
}
#app-table th, #app-table td {
    /* justify-content: center; */
    
    /* background-color: aqua; */
    font-size: small;
    padding: 10px; /* Add some padding to cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Add a border to the bottom of each cell */
}

#add-application-button {
    margin-top: 3%;
}

.wrap-text {
    word-wrap: break-word;
    max-width: 200px; /* Adjust this value according to your needs */
}

.table-responsive {
    display: flex;
    justify-content: center;
}

.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-section h4 {
    color: #e9912c;
    margin-bottom: 0px;
}

.filter-section hr {
    width: 100%;
}
.filter-section label {
    margin: 3px 0;
    color: #e9912c;
}

.filter-section select {
    margin-bottom: 20px;
    width: 100%;
    padding: 3px;
}