.badge:hover {
    background-color: #ff0000 !important;
}

.dropdown-menu {
    overflow: auto;
}

#personal-summary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-success {
    background-color: #29ADEB !important;
    color: white !important;
    border: 0px !important;
}
  
.bg-success:hover {
    background-color: #0860c4;
    color: white !important;
}
  
.bg-success:focus, .bg-success:active {
    border-color: #2a1ce9 !important;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #190db6 !important;
}