.badge:hover {
    background-color: #ff0000 !important;
}

.dropdown-menu {
    overflow: auto;
}

#personal-summary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}