.badge:hover {
    background-color: #ff0000 !important;
}

.dropdown-menu {
    overflow: auto;
}

#personal-summary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-success {
    background-color: #29ADEB !important;
    color: white !important;
    border: 0px !important;
}
  
.bg-success:hover {
    background-color: #0860c4 !important;
    color: white !important;
}
  
.bg-success:focus, .bg-success:active {
    border-color: #2a1ce9 !important;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #190db6 !important;
}

.bg-danger:hover {
    background-color: #b02121 !important;
    color: white !important;
}

.bg-danger:focus, .bg-danger:active {
    border-color: #ff0000 !important;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ff0000 !important;
}

.btn-arrow {
    background-color: #29ADEB !important;
    color: white !important;
    border: 0px !important;
}
  
.btn-arrow:hover {
    background-color: #0860c4 !important;
    color: white !important;
}
  
.btn-arrow:focus, .bg-arrow:active {
    border-color: #2a1ce9 !important;
    box-shadow: none !important;
}


.hidden {
    display: none !important;
    opacity: 0 !important;
}


#tabs {
    max-height: 624px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    scrollbar-width: thin !important;
    scrollbar-color: #888 #f1f1f100 !important;
}

#tabs::-webkit-scrollbar {
    width: 10px !important;
}

#tabs::-webkit-scrollbar-track {
    background: #f1f1f100 !important;
}

#tabs::-webkit-scrollbar-thumb {
    background: #888 !important;
}

#tabs::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

@media (min-width: 975px){
    .tab-bar {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin: 0 10px !important;
        padding: 0 !important;
        height: 35px !important;
        border-bottom: 1px solid #474747 !important;
        background-color: #ffffff00 !important;
        color: #fc9c2f;
    }

    .tab {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 0 10px !important;
        height: 100% !important;
        color: #fc9c2f !important;
        font-size: 1.2em !important;
        cursor: pointer !important;
    }
}

@media(max-width: 974px)
{
    .tab-bar {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin: 0 10px !important;
        padding: 0 !important;
        height: 35px !important;
        border-bottom: 1px solid #474747 !important;
        background-color: #ffffff00 !important;
        color: #fc9c2f;
    }

    .tab {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 0 10px !important;
        height: 100% !important;
        color: #fc9c2f !important;
        font-size: 0.8em !important;
        cursor: pointer !important;
    }
}

.btn-tab {
    position: relative;
    transition: transform 0.43s ease-in-out;
}

.btn-tab::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: linear-gradient(to right, #E91D1C, #FEB617);
    z-index: -1;
    height: 4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.43s ease-in-out;
}

.btn-tab:hover, .btn-tab.active::before {
    transform: scaleX(1) !important;
}

.btn-tab:hover::before {
    transform: scaleX(1) !important;
}

.form-container {
    width: 75vw !important;
    margin: 0 auto !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #474747 !important;
    border-radius: 15px !important;
}


.tabpanel {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
}

.form-btns {
    display: flex !important;
    justify-content: space-between !important;
    margin: 0 auto !important; 
    text-align: center;
}

.form-btns> :first-child {
    max-width: 100px !important;
    margin-right: 10px !important;
    margin-left: 0 !important;
}

.form-btns> :last-child {
    justify-content: flex-end !important;
    max-width: 100px !important;
    max-height: 38px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    position: relative;
}

.navigation-btns {
    display: flex !important;
    justify-content: space-between !important;
    margin: 0 auto !important; 
    text-align: center;
}

.navigation-btns> :first-child {
    max-width: 100px !important;
    margin-right: 10px !important;
    margin-left: 0 !important;
    max-height: 38px !important;
}

.navigation-btns> :last-child {
    max-width: 100px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    max-height: 38px !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}