.cover-letter-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

hr {
    margin-right: auto;
}

html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 60px;
    background-color: #131414 !important;
    background: linear-gradient(to bottom, #131414 65%, rgb(34, 18, 8)) !important;
    color: rgb(207, 207, 207);
    font-family: 'Open Sans', sans-serif;
}
  
#editor-title {
    text-align: right;
    font-size: 2em;
    margin: 20px;
}

.ql-toolbar {
    width: 100%;
    position: sticky;
    top: 71px;
    background-color: #222424;
    border-bottom: 1px solid rgb(101, 104, 104) !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    z-index: 1000;
}

.ql-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222424;
    border: 1px solid rgb(101, 104, 104) !important;
    border-top: none !important;
    min-height: 500px;
    margin-bottom: 50px;
}

.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    background-color: #222424;
    border-bottom: 1px solid rgb(101, 104, 104) !important;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.editor-header button {
    margin-left: 10px;
}

.left-section {
    display: flex;
    align-items: center;
}

.left-section h6 {
    margin-left: 10px;
}

.btn{
    background-color: #e9912c;
    border-color: #e9912c;
    margin: 4px 10px;
}
  
.btn:hover, .btn:active, .btn:focus {
    background-color: #E91D1C;
    border-color: #E91D1C;
    outline: none;
    box-shadow: none;
}

#back-button {
    background: transparent;
    border: none;
    font-size: 2em;
    color: #045cff;
}

#back-button:hover {
    color: #19ddff;
}

#back-button .fa {
    filter: invert(1);
}

#cover-letter-title {
    background-color: #5a5a5a;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 3px;
    color: rgb(214, 214, 214);
}

#cover-letter-title:focus {
    outline: 1px solid #9e9e9e;
    box-shadow: none !important;
}

a {
    color: #e9912c !important;
    text-decoration: none !important;

}

#cover-letter-title::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a8a8a8;
}
#cover-letter-title::-moz-placeholder { /* Firefox 19+ */
    color: #a8a8a8;
}
#cover-letter-title:-ms-input-placeholder { /* IE 10+ */
    color: #a8a8a8;
}
#cover-letter-title:-moz-placeholder { /* Firefox 18- */
    color: #a8a8a8;
}

.alert-success{
    background-color: #e9912c !important;
    color: white !important;
    border: none;
    margin-bottom: 0px;
}
  
.alert-danger{
    background-color: #E91D1C !important;
    color: white !important;
    border: none;
    margin-bottom: 0px;
}
  
.bg-success{
    background-color: green !important;
    color: white;
    border: none;
}
  