.resume-container {
    background-color: #f8f9fa;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

hr {
    margin-right: auto;
}

html {
    font-size: 14px;
}
  
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 60px;
    background-color: #f8f9fa !important;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
}
  
#editor-title {
    text-align: right;
    font-size: 2em;
    margin: 20px;
}

.ql-toolbar .ql-divider::before {
    content: '\f068' !important;
    font-family: FontAwesome !important;
    color: #444444;
}

.ql-toolbar .ql-divider:hover::before {
    color: #0065CC;
}

.ql-toolbar {
    width: 100%;
    position: sticky;
    top: 71px;
    background-color: #f0f2f3;
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    z-index: 1000;
}

.ql-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6 !important;
    border-top: none !important;
    min-height: 500px;
    margin-bottom: 50px;
}

.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    background-color: #f0f2f3;
    border-bottom: 1px solid #dee2e6 !important;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.editor-header button {
    margin-left: 10px;
    color: #212529;
}

.left-section {
    display: flex;
    align-items: center;
}

.left-section h6 {
    margin-left: 10px;
}

.btn{
    background-color: #e9912c;
    border-color: #e9912c;
    margin: 4px 10px;
}
  
.btn:hover, .btn:active, .btn:focus {
    background-color: #E91D1C;
    border-color: #E91D1C;
    outline: none;
    box-shadow: none;
}

#back-button {
    background: transparent;
    border: none;
    font-size: 2em;
    color: #045cff;
}

#back-button:hover {
    color: #19ddff;
}

#back-button .fa {
    filter: invert(1);
}

#resume-title {
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 3px;
    color: rgb(56, 56, 56);
}

#resume-title:focus {
    outline: 1px solid #9e9e9e;
    box-shadow: none !important;
}

a {
    color: #e9912c !important;
    text-decoration: none !important;

}

#resume-title::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a8a8a8;
}
#resume-title::-moz-placeholder { /* Firefox 19+ */
    color: #a8a8a8;
}
#resume-title:-ms-input-placeholder { /* IE 10+ */
    color: #a8a8a8;
}
#resume-title:-moz-placeholder { /* Firefox 18- */
    color: #a8a8a8;
}

.alert-success{
    background-color: #e9912c !important;
    color: white !important;
    border: none;
    margin-bottom: 0px;
}
  
.alert-danger{
    background-color: #E91D1C !important;
    color: white !important;
    border: none;
    margin-bottom: 0px;
}
  
.bg-success{
    background-color: green !important;
    color: white;
    border: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    margin-right: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e9912c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e9912c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



body.show-before::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1002;
}

.templates {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    display: none;
    padding: 0 6%;
}

.templates-title {
    position: fixed;
    top: 11%;
    left: 52%;
    z-index: 1003;
    transform: translate(-50%, -50%);
    padding: 0 6%;
    text-align: center;
    display: none;
}

.templates-title p, .templates-title hr {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    
}

.title {
    color: #e9912c;
}

.templates .ql-container {
    padding: 0 0px;
    width: 300px;
    background-color: #f8f9fa;
    border: 1px solid rgb(144, 145, 146) !important;
}

.template-editor .ql-container,
.template-editor .ql-editor {
    overflow: hidden !important;
    padding-top: 41px;
    margin-top: -27px;
    margin-left: -60px;
    margin-right: -60px;
}

.template-editor .ql-editor {
    cursor: pointer !important;
}

.template-editor {
    flex: 0 0 20%;
    margin: 5px !important;
    transform: scale(0.9);
    transform-origin: 0 0;
    height: 570px !important;
    box-shadow: 0 0 8px rgba(114, 119, 119, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.template-editor .ql-editor.ql-blank::before {
    bottom: 0 !important;
}

.template-editor .ql-editor {
    padding-bottom: 0 !important;
}

.template-editor p, .template-editor h1, .template-editor h2, .template-editor h3, .template-editor h4, .template-editor h5, .template-editor h6, .template-editor ul, .template-editor hr{
    transform: scale(.66);
    margin: 0 !important;
    padding: 0 !important;
}


.template-editor:hover {
    border-color: #b87223;
    cursor: pointer;
    transform: scale(.97);
    box-shadow: 0 0 20px rgba(233, 167, 91, 0.7);
}

.template-editor input, .template-editor button{
    display: none !important;
}

.templates .ql-toolbar {
    display: none !important;
}