#resume-section, #cover-letter-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px 2px;
    margin-top: 20px;
}

.thumbnail {
    position: relative;
    background-color: #383737;
    width: 230px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #161616;
    padding-bottom: 14%;
    box-shadow: 0px 4px 8px 0px rgba(7, 7, 7, 0.2);
}

.thumbnail h1, .thumbnail h2, .thumbnail p, .thumbnail a, .thumbnail ul, .thumbnail li{
    font-size: 45%;
    text-align: left;
    line-height: 1;
    padding-left: 12.5%;
}

.thumbnail :first-child {
    margin-top: 15px;
}

.thumbnail-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14%;
    background-color: #494848;
    border-top: 1px solid #161616;
    padding: 9px 8px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumbnail:hover {
    border-color: #b87223;
    cursor: pointer;
}

.no-resume, .no-cover-letter {
    justify-content: center;
    align-items: center;
    text-align: center;
}