#resume-section, #cover-letter-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px 2px;
    margin-top: 20px;
}

#cover-letter-section {
    margin-bottom: 30px;
}

.thumbnail {
    position: relative;
    background-color: #242525;
    width: 230px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgb(101, 104, 104);
    padding-bottom: 14%;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    box-shadow: 0 0 8px rgba(101, 104, 104, 0.4);
}

.thumbnail:hover {
    border-color: #b87223;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(184, 114, 35, 0.7);
}
.thumbnail h1, .thumbnail h2, .thumbnail h4, .thumbnail p, .thumbnail a, .thumbnail ul, .thumbnail li{
    font-size: 45%;
    text-align: left;
    line-height: 1;
    padding-left: 12.5%;
}

.thumbnail :first-child {
    margin-top: 15px;
}

.thumbnail-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14%;
    background-color: rgb(80, 80, 80);
    border-top: 1px solid #161616;
    padding: 9px 8px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumbnail:hover {
    border-color: #b87223;
    cursor: pointer;
}

.no-resume, .no-cover-letter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#dashboard-title{
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}